<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	
	<!-- http://www.mkyong.com/jsf2/jsf-2-graphicimage-example/ -->
	
	<div class="wrap">
		<div class="logoDireita">
			<a href="#">
				<h:graphicImage library="images" name="logo/fmb.gif" />
			</a>
		</div>
		<div class="logoEsquerda">
			<a href="#">
				<h:graphicImage library="images" name="logo/richfaces_logo_200px.png" />
			</a>
		</div>
	</div>
</ui:composition>