<?xml version="1.0" encoding="utf-8" ?>
<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a="http://www.ambientinformatica.com.br/jsf2"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="corpo">
		
		<p:panel header="Consultar OrdemTrafego">
		<a:newLine />
           <a:field label="Departamento" for="consDepartamento">
               <p:autoComplete id="consDepartamento" maxResults="10" minQueryLength="3"  effect="fade"   
                             value="#{OrdemTrafegoControl.departamento}"   
                             var="d" itemLabel="#{d.nome}" itemValue="#{d}" completeMethod="#{OrdemTrafegoControl.consultarDepartamento}" forceSelection="false " size="48">
                             <f:converter converterId="departamentoConverter"/>
                             <f:facet name="itemtip">  
                                <h:panelGrid  columns="2" cellpadding="10">  
                                    <h:outputText id="nomeDepartamentoCons" value="#{d.nome }"/>
                                    <h:outputText id="siglaDepartamentoCons" value="#{d.sigla }"/>                                     
                                </h:panelGrid>  
                             </f:facet>  
              </p:autoComplete>
           </a:field>
           <a:newLine />
            <a:field label="Data Inicial" width="160px;">
            	<p:inputMask id="dataHoraInicio" value="#{OrdemTrafegoControl.dataInicial }" mask="99/99/9999">
               		<f:convertDateTime pattern="dd/MM/yyyy"/>
            	</p:inputMask> 
         	</a:field>
         
         	<a:field label="Data Final" width="160px;" spaceLeft="20px">
            	<p:inputMask id="dataHoraFim" value="#{OrdemTrafegoControl.dataFinal }" mask="99/99/9999">
              		<f:convertDateTime pattern="dd/MM/yyyy" />
            	</p:inputMask> 
         	</a:field>
         	<a:newLine />
                        
	        <a:field label="Requisitante" width="315px" for="consServidor">
                  <p:autoComplete id="consServidor" maxResults="10" minQueryLength="3" effect="fade"   
                                value="#{OrdemTrafegoControl.requisitante}"   
                                var="s" itemLabel="#{s.nome}" itemValue="#{s}" completeMethod="#{OrdemTrafegoControl.consultarServidor}" forceSelection="false " size="48">
                                <f:converter converterId="funcionarioConverter"/>
                                <f:facet name="itemtip">  
                                   <h:panelGrid  columns="2" cellpadding="10">  
                                       <h:outputText id="nomeServidorCons" value="#{s.nome }"/>  
                                       <h:outputText id="matriculaServidorCons" value="#{s.matricula}" />
                                   </h:panelGrid>  
                                </f:facet>  
                 </p:autoComplete>
            </a:field>            
            
			<a:newLine />
			
			<a:field label="Nº Ordem de Trafego" width="160px;" >
            	<p:inputText id="idOT" value="#{OrdemTrafegoControl.id }" />              		 
         	</a:field>
         	
			<a:field label="Status O.T." width="120px" spaceLeft="10px">
            	<p:selectOneMenu value="#{OrdemTrafegoControl.statusSelecionadoOT }" style="width:150px;" id="estadoOs" >
               		<f:selectItem itemLabel="Todas"/>
               		<f:selectItems value="#{OrdemTrafegoControl.statusOtList }"/>
            	</p:selectOneMenu>
         	</a:field>
         	
         	<a:newLine />
         	<a:field label="Placa" width="120px" for="pesqVeiculo">
				<p:autoComplete id="pesqVeiculo" maxResults="10" minQueryLength="3"	effect="fade" value="#{OrdemTrafegoControl.veiculoPesq}" var="s" itemLabel="#{s.placa}" itemValue="#{s}" completeMethod="#{OrdemTrafegoControl.consultarVeiculo}" forceSelection="true" size="20">
					<f:converter converterId="veiculoConverter" />
					<f:facet name="itemtip">
						<h:panelGrid columns="4" cellpadding="5">
							<h:outputText id="placaVeiculoPesq" value="#{s.placa }" />
							<h:outputText id="marcaModeloVeiculoPesq" value="#{s.marcaModelo}" />
							<h:outputText id="hodometroPesq" value="#{s.hodometro}" />
							<h:outputText id="statusVeiculoPesq" value="#{s.statusVeiculo.descricao}" />
						</h:panelGrid>
					</f:facet>
				</p:autoComplete>
			</a:field>
				
			
			<a:newLine />
			<a:newLine />
			<p:commandButton actionListener="#{OrdemTrafegoControl.listar }" value="Listar" update="ordemTrafegoList" icon="ui-icon-note"/>
			<p:commandButton id="btnNovaOT" actionListener="#{OrdemTrafegoControl.novaOT }"  action="ordemTrafego" value="Nova O.T." ajax="false" icon="ui-icon-wrench"/>
			
		</p:panel>
      
		<p:dataTable id="ordemTrafegoList" value="#{OrdemTrafegoControl.ordensTrafego }" var="ot" emptyMessage="Sem registro(s)">
			<f:facet name="header">
				<h:outputText value="Ordem de Trafego"/>
			</f:facet>
			<p:column sortBy="#{ot.id }">
				<f:facet name="header">
					<h:outputText value="Id"/>
				</f:facet>
				<h:outputText id="id" value="#{ot.id }"></h:outputText>
			</p:column>
            <p:column sortBy="#{ot.status.descricao }">
               <f:facet name="header">
                  <h:outputText value="Status"/>
               </f:facet>
               <h:outputText id="status" value="#{ot.status.descricao }"/>
            </p:column>
			<p:column sortBy="#{ot.requisitante.nome }">
				<f:facet name="header">
					<h:outputText value="Requisitante"/>
				</f:facet>
				<h:outputText id="requisitante" value="#{ot.requisitante.nome }" ></h:outputText>
			</p:column>
			<p:column sortBy="#{ot.dataHoraSaida }">
				<f:facet name="header">
					<h:outputText value="Data hora inicio"/>
				</f:facet>
				<h:outputText id="dataHoraSaida" value="#{ot.dataHoraSaida }">
					<f:convertDateTime pattern="dd/MM/yyyy - HH:mm"/>   
				</h:outputText>
			</p:column>
			<p:column sortBy="#{ot.dataHoraRetorno }">
				<f:facet name="header">
					<h:outputText value="Data hora fim"/>
				</f:facet>
				<h:outputText id="dataHoraRetorno" value="#{ot.dataHoraRetorno }">
					<f:convertDateTime pattern="dd/MM/yyyy - HH:mm"/>   
				</h:outputText>
			</p:column>
			<p:column >
				<f:facet name="header">
					<h:outputText value="Municipios"/>
				</f:facet>
				<h:outputText id="municipios" value="#{ot.municipios }" />
			</p:column>
			
			<p:column >
				<f:facet name="header">
					<h:outputText value="Funcionarios"/>
				</f:facet>
				<h:outputText id="funcionarios" value="#{ot.funcionariosTransportados}" />
			</p:column>
			<p:column >
				<f:facet name="header">
					<h:outputText value="Serviços"/>
				</f:facet>
				<h:outputText id="serviços" value="#{ot.listaServicos}" />
			</p:column>
        	
            <p:column sortBy="#{ot.motorista.nome }">
            	<f:facet name="header">
               		<h:outputText value="Motorista"/>
            	</f:facet>
            <h:outputText id="motorista" value="#{ot.motorista.nome }" ></h:outputText>
         	</p:column>
         	<p:column >
				<f:facet name="header">
					<h:outputText value="Veículo Placa"/>
				</f:facet>
				<h:outputText id="placa" value="#{ot.veiculo.placa }" />
			</p:column>
			
			
			
            <p:column>
				<p:commandButton actionListener="#{OrdemTrafegoControl.atenderOT }" id="btnAtenderOT" update=":formCorpo:ordemTrafegoForm" value="Atender O.T." onclick="atenderOT.show();"  rendered="#{ot.atender }" icon="ui-icon-wrench">				
					<f:param name="otAtender" value="#{ot }" id="otAtender" />
				</p:commandButton>
				
               	<p:commandButton actionListener="#{OrdemTrafegoControl.encerrarOT }" id="btnEncerrarOT" value="Encerrar O.T." onclick="encerrarOT.show();" rendered="#{ot.encerrar }" icon="ui-icon-locked">
               		<f:param name="otEncerrar" value="#{ot }" id="otEncerrar" />
               	</p:commandButton>              	
               
			</p:column>
            <p:column>	
            	<p:commandButton id="btnDesatenderOT" value="Desatender O.T." onclick="desatenderOT.show();" rendered="#{ot.encerrar }" icon="ui-icon-wrench">				
					<f:setPropertyActionListener value="#{ot }" target="#{OrdemTrafegoControl.ordemTrafego}" id="otDesatender" />					
				</p:commandButton>
				
				<p:commandButton id="btnDesencerrarOT" value="Desencerrar O.T." onclick="desencerrarOT.show();" rendered="#{ot.encerrada }" icon="ui-icon-unlocked" >				
					<f:setPropertyActionListener value="#{ot }" target="#{OrdemTrafegoControl.ordemTrafego}" id="otDesencerrar" />					
				</p:commandButton> 
			</p:column>
			
            <p:column>	
            	<f:facet name="header">
					<h:outputText value="Cancelar"/>
				</f:facet>
				
				<p:commandButton id="btnCancelarOT" value="Cancelar O.T." onclick="cancelarOT.show();" rendered="#{!ot.encerrada and !ot.cancelada}" icon="ui-icon-closethick" >				
					<f:setPropertyActionListener value="#{ot }" target="#{OrdemTrafegoControl.ordemTrafego}" id="otCancelar" />					
				</p:commandButton> 				
				<h:outputText id="dataCancelamento" value="#{ot.dataCancelamento }" rendered="#{ot.dataCancelamento != null}">
					<f:convertDateTime pattern="dd/MM/yyyy - HH:mm"/>
				</h:outputText>
			</p:column>
            <p:column>
               	<p:commandButton id="btnImprimir" value="Imprimir O.T." action="#{OrdemTrafegoControl.imprimir }" ajax="false" icon="ui-icon-print" rendered="#{!ot.cancelada}">
					<f:setPropertyActionListener value="#{ot }" target="#{OrdemTrafegoControl.ordemTrafegoImprimir }" />
				</p:commandButton>
            </p:column>
		</p:dataTable>
		
		<p:confirmDialog message="Confirmar Autorização?" header="Atenção" severity="alert" widgetVar="autorizarOT">
			<p:commandButton value="Sim" actionListener="#{OrdemTrafegoControl.autorizarOT }" action="ordemTrafegoList" oncomplete="autorizarOT.hide()"/>
			<p:commandButton value="Não" onclick="autorizarOT.hide();" type="button" />
		</p:confirmDialog>
		
		<p:confirmDialog message="Confirmar desatendimento?" header="Atenção" severity="alert" widgetVar="desatenderOT">
			<p:commandButton value="Sim" actionListener="#{OrdemTrafegoControl.desatenderOT }" action="ordemTrafegoList" oncomplete="desatenderOT.hide()"/>
			<p:commandButton value="Não" onclick="desatenderOT.hide();" type="button" />
		</p:confirmDialog>
		
		<p:confirmDialog message="Confirmar desencerramento?" header="Atenção" severity="alert" widgetVar="desencerrarOT">
			<p:commandButton value="Sim" actionListener="#{OrdemTrafegoControl.desencerrarOT }" action="ordemTrafegoList" oncomplete="desencerrarOT.hide()"/>
			<p:commandButton value="Não" onclick="desencerrarOT.hide();" type="button" />
		</p:confirmDialog>
		
		<p:confirmDialog message="O cancelamento não pode ser desfeito. Confirmar cancelamento?" header="Atenção" severity="alert" widgetVar="cancelarOT">
			<p:commandButton value="Sim" actionListener="#{OrdemTrafegoControl.cancelar }" update="ordemTrafegoList" oncomplete="cancelarOT.hide()"/>
			<p:commandButton value="Não" onclick="cancelarOT.hide();" type="button" />
		</p:confirmDialog>
    
		<p:dialog id="encerrarOTDialog" header="Encerrar Ordem de Trafego" widgetVar="encerrarOT" modal="true">	
			
				<a:field label="Data Retorno" width="150px;">
					<p:calendar locale="pt_BR" id="dataFinal" value="#{OrdemTrafegoControl.dataHoraRetorno}" pattern="dd/MM/yyyy HH:mm" style="width:150px"/> 
				</a:field>
				
				<a:field id="hodometro" label="Hodômetro Retorno" width="200px;" spaceLeft="15px">
					<p:inputText value="#{OrdemTrafegoControl.hodometroRetorno}" style="width:200px" />
				</a:field>
				<a:newLine />
				<a:newLine />

				<p:commandButton id="btnEncerrar" actionListener="#{OrdemTrafegoControl.encerrar }" action="ordemTrafegoList" ajax="false" value="Encerrar O.T." icon="ui-icon-circle-check" />
			
		</p:dialog>
		
		<p:dialog id="atenderOTDialog" header="Atender O.T." widgetVar="atenderOT" modal="true" >
			
			<p:panel header="Atender Ordem de Trafego ( #{OrdemTrafegoControl.ordemTrafego.id } )" id="ordemTrafegoForm" rendered="#{OrdemTrafegoControl.ordemTrafego.atender}" >
				
				<a:field label="Data Saida" width="150px;">
					<p:calendar locale="pt_BR" id="dataInicial" value="#{OrdemTrafegoControl.dataHoraSaida}" pattern="dd/MM/yyyy HH:mm" style="width:150px"/> 
				</a:field>		
				<a:newLine />
			
				<a:field label="Placa" width="150px" for="consVeiculo">
					<p:autoComplete id="consVeiculo" maxResults="10" minQueryLength="3"	effect="fade" value="#{OrdemTrafegoControl.veiculo}" var="s" itemLabel="#{s.placa}" itemValue="#{s}" completeMethod="#{OrdemTrafegoControl.consultarVeiculo}" forceSelection="true" size="22">
						<f:converter converterId="veiculoConverter" />
						<f:facet name="itemtip">
							<h:panelGrid columns="4" cellpadding="5">
								<h:outputText id="placaVeiculoCons" value="#{s.placa }" />
								<h:outputText id="marcaModeloVeiculoCons" value="#{s.marcaModelo}" />
								<h:outputText id="hodometroCons" value="#{s.hodometro}" />
								<h:outputText id="statusVeiculo" value="#{s.statusVeiculo.descricao}" />
							</h:panelGrid>
						</f:facet>
					</p:autoComplete>
				</a:field>
				<a:newLine />
				<a:field label="Motorista" width="325px" for="consMotorista">
					<p:autoComplete id="consMotorista" maxResults="10" minQueryLength="3" effect="fade" value="#{OrdemTrafegoControl.motorista}" var="m" itemLabel="#{m.nome}" itemValue="#{m}"	completeMethod="#{OrdemTrafegoControl.consultarServidor}" forceSelection="true" size="50" spaceLeft="15px">
						<f:converter converterId="funcionarioConverter" />
						<f:facet name="itemtip">
							<h:panelGrid columns="2" cellpadding="10">
								<h:outputText id="nomeMotoristaCons" value="#{m.nome }" />
								<h:outputText id="matriculaMotoristaCons" value="#{m.matricula}" />
							</h:panelGrid>
						</f:facet>
					</p:autoComplete>
				</a:field>
			
				<a:newLine />
				<a:newLine />

				<p:commandButton id="btnAtenderNova"
					actionListener="#{OrdemTrafegoControl.confirmar }"
					value="Confirmar" ajax="false" icon="ui-icon-circle-check" action="ordemTrafegoList"/>	
			</p:panel>
		</p:dialog>

	</ui:define>
</ui:composition>