<?xml version="1.0" encoding="utf-8" ?>
<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a="http://www.ambientinformatica.com.br/jsf2"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="corpo">
		

		<p:panel header="Consultar OrdemServico">
		<a:newLine />
           <a:field label="Departamento" for="consDepartamento">
               <p:autoComplete id="consDepartamento" maxResults="10" minQueryLength="3"  effect="fade"   
                             value="#{OrdemServicoControl.departamento}"   
                             var="d" itemLabel="#{d.nome}" itemValue="#{d}" completeMethod="#{OrdemServicoControl.consultarDepartamento}" forceSelection="false " size="48">
                             <f:converter converterId="departamentoConverter"/>
                             <f:facet name="itemtip">  
                                <h:panelGrid  columns="2" cellpadding="10">  
                                    <h:outputText id="nomeDepartamentoCons" value="#{d.nome }"/>                                    
                                </h:panelGrid>  
                             </f:facet>  
              </p:autoComplete>
           </a:field>
           <a:newLine />
         <a:field label="Data Inicial" width="160px;" >
            <p:inputMask id="dataHoraInicio" value="#{OrdemServicoControl.dataHoraInicio }" mask="99/99/9999">
               <f:convertDateTime pattern="dd/MM/yyyy"/>
            </p:inputMask> 
         </a:field>
         
         <a:field label="Data Final" width="160px;" spaceLeft="20px;">
            <p:inputMask id="dataHoraFim" value="#{OrdemServicoControl.dataHoraFim }" mask="99/99/9999">
               <f:convertDateTime pattern="dd/MM/yyyy"/>
            </p:inputMask> 
         </a:field>
         <a:newLine />
           <a:field label="Requisitante" for="consServidor">
               <p:autoComplete id="consServidor" maxResults="10" minQueryLength="3"  effect="fade"   
                             value="#{OrdemServicoControl.requisitanteList}"   
                             var="s" itemLabel="#{s.nome}" itemValue="#{s}" completeMethod="#{OrdemServicoControl.consultarServidor}" forceSelection="false " size="48">
                             <f:converter converterId="funcionarioConverter"/>
                             <f:facet name="itemtip">  
                                <h:panelGrid  columns="2" cellpadding="10">  
                                    <h:outputText id="nomeServidorCons" value="#{s.nome }"/>  
                                    <h:outputText id="matriculaServidorCons" value="#{s.matricula}" />
                                </h:panelGrid>  
                             </f:facet>  
              </p:autoComplete>
           </a:field>
           <a:newLine />
           <a:field label="Status O.S." width="150px">
            <p:selectOneMenu value="#{OrdemServicoControl.estadoOsSelecionado }" style="width:150px;" id="estadoOs" >
               <f:selectItem itemLabel="Todas"/>
               <f:selectItems value="#{OrdemServicoControl.statusOrdemServicos }"/>
            </p:selectOneMenu>
         </a:field>
		<a:newLine />
		
		<a:newLine />
		<p:commandButton actionListener="#{OrdemServicoControl.listar }" value="Listar" update="ordemServicosList" icon="ui-icon-note" ajax="false"/>
		<p:commandButton action="ordemServico" actionListener="#{OrdemServicoControl.limpar }" value="Novo" ajax="false" icon="ui-icon-document" rendered="#{securityScope.userInRole['EMISOROS']}"/>
		</p:panel>
      
		<p:dataTable id="ordemServicosList" value="#{OrdemServicoControl.ordemServicos }" var="os" emptyMessage="Sem registro(s)">
			<f:facet name="header">
				<h:outputText value="Ordem de Serviço"/>
			</f:facet>
			<p:column sortBy="#{os.id }">
				<f:facet name="header">
					<h:outputText value="Id"/>
				</f:facet>
				<h:outputText id="id" value="#{os.id }"></h:outputText>
			</p:column>
            <p:column sortBy="#{os.data }">
               <f:facet name="header">
                  <h:outputText value="Criada em"/>
               </f:facet>
               <h:outputText id="data" value="#{os.data }">
                  <f:convertDateTime pattern="dd/MM/yyyy"/>   
               </h:outputText>
            </p:column>
			<p:column sortBy="#{os.requisitante.nome }">
				<f:facet name="header">
					<h:outputText value="Requisitante"/>
				</f:facet>
				<h:outputText id="requisitante" value="#{os.requisitante.nome }" ></h:outputText>
			</p:column>
			<p:column sortBy="#{os.dataHoraInicio }">
				<f:facet name="header">
					<h:outputText value="Data hora inicio"/>
				</f:facet>
				<h:outputText id="dataHoraInicio" value="#{os.dataHoraInicio }">
					<f:convertDateTime pattern="dd/MM/yyyy"/>   
				</h:outputText>
			</p:column>
			<p:column sortBy="#{os.dataHoraFim }">
				<f:facet name="header">
					<h:outputText value="Data hora fim"/>
				</f:facet>
				<h:outputText id="dataHoraFim" value="#{os.dataHoraFim }">
					<f:convertDateTime pattern="dd/MM/yyyy"/>   
				</h:outputText>
			</p:column>
			<p:column >
				<f:facet name="header">
					<h:outputText value="Municipios"/>
				</f:facet>
				<h:outputText id="municipios" value="#{os.municipios }" />
			</p:column>
			
			<p:column rendered="#{securityScope.userInRole['EMISOROS']}">
      			<p:commandButton id="btnEditar" value="Editar O.S." ajax="false" action="ordemServico" rendered="#{os.editavel }" icon="ui-icon-pencil">
      				<f:setPropertyActionListener value="#{os }" target="#{OrdemServicoControl.ordemServico }" />
      			</p:commandButton>
            
                <p:commandButton id="btnImprimir" actionListener="#{OrdemServicoControl.imprimir }" value="Imprimir" ajax="false" rendered="#{os.imprimivel }" icon="ui-icon-print">
                  <f:param value="#{os }" id="osImprimir"/>
               </p:commandButton>
			</p:column>
					
            <p:column rendered="#{securityScope.userInRole['EMISOROS']}">
                <p:commandButton id="btnCancelar"  onclick="cancelarOS.show();" value="Cancelar O.S." rendered="#{!os.ordemTrafego.encerrada and !os.cancelada }" icon="ui-icon-pencil">
      				<f:setPropertyActionListener value="#{os }" target="#{OrdemServicoControl.osCancelar }" id="os"/>
      			</p:commandButton>
      		</p:column>					            
         
		</p:dataTable>
		
		<p:confirmDialog message="Confirmar cancelamento?" header="Atenção" severity="alert" widgetVar="cancelarOS">
			<p:commandButton value="Sim" actionListener="#{OrdemServicoControl.cancelar }" update="@all" oncomplete="cancelarOS.hide()" />
			<p:commandButton value="Não" onclick="cancelarOS.hide();" type="button" />
		</p:confirmDialog>

	</ui:define>
</ui:composition>