<?xml version="1.0" encoding="utf-8" ?>
<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a="http://www.ambientinformatica.com.br/jsf2"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="corpo">
		
		<p:panel header="Cadastrar Veiculo" id="VeiculoForm">
			<a:field label="Placa" width="300px;">
				<p:inputText id="placa" value="#{VeiculoControl.veiculo.placa }" style="width:300px;"/>
			</a:field>
			<a:field label="Chassi" spaceLeft="15px" width="300px;">
				<p:inputText id="chassis" value="#{VeiculoControl.veiculo.chassi }" style="width:300px;"/>
			</a:field>
			<a:newLine />
         
			<a:field label="Marca/Modelo" width="300px;">
				<p:inputText id="marca" value="#{VeiculoControl.veiculo.marcaModelo}" style="width:300px;"/>
			</a:field>
         	<a:field label="Tipo do veiculo" spaceLeft="15px" width="300px;">
				<p:inputText id="tipo" value="#{VeiculoControl.veiculo.tipoVeiculo}" style="width:300px;"/>
			</a:field>			
			<a:newLine />
			<a:field label="Status do veiculo" width="170px;">
                  	<p:selectOneMenu id="statusVeiculo"  value="#{VeiculoControl.veiculo.statusVeiculo}" style="width:170px;">  
                  		<f:selectItem itemLabel="Selecione" itemValue=""/>  
                  		<f:selectItems value="#{VeiculoControl.statusVeiculoList}" />  
               		</p:selectOneMenu> 
               		
            </a:field>
			<a:field label="Hodômetro" width="300px;" rendered="#{VeiculoControl.veiculo.hodometro==null}" spaceLeft="15px">
				<p:inputText id="odometro" value="#{VeiculoControl.veiculo.hodometro}" style="width:300px;"/>
			</a:field>
			<a:newLine />
			
                      
			<a:newLine />
            <a:newLine />
			<p:commandButton id="btnConfirmar" actionListener="#{VeiculoControl.confirmar }" value="Confirmar" update="VeiculoForm, mensagens, growl" icon="ui-icon-disk"/>
            <p:commandButton id="btnListar" action="veiculoList" value="Listar"  actionListener="#{VeiculoControl.listar }" ajax="false" icon="ui-icon-note"/>
		</p:panel>
		

	</ui:define>
</ui:composition>