<?xml version="1.0" encoding="utf-8" ?>
<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a="http://www.ambientinformatica.com.br/jsf2"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="corpo">

		<p:panel header="Formulário" id="panel">
			<h:panelGrid columns="2">
				<h:outputText value="Nome"></h:outputText>
				<p:inputText value="#{ClienteControl.contato.nome }"></p:inputText>
				<p:commandButton actionListener="#{ClienteControl.confirmar }" value="Confirmar" update="contatos, panel"></p:commandButton>
			</h:panelGrid>
		</p:panel>
		
		<p:dataTable id="contatos" value="#{ClienteControl.contatos }" var="cont"  width="100%" emptyMessage="Sem registros" >
			<f:facet name="header">
				<h:outputText value="Lista de Contatos"></h:outputText>
			</f:facet>
			<p:column sortBy="#{cont.nome }">
				<f:facet name="header">
					<h:outputText value="Nome"></h:outputText>
				</f:facet>
				<h:outputText value="#{cont.nome }"></h:outputText>
			</p:column>	
		</p:dataTable>

	</ui:define>
</ui:composition>