<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<link href="css/recadastramento.css" type="text/css" rel="stylesheet"/>

</h:head>

<h:body>

	<h:form id="formCorpo">
		<p:messages autoUpdate="true"/>
		<p:growl autoUpdate="true"></p:growl>
		<ui:insert name="corpo" />
	</h:form>

</h:body>
</html>
